<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="com.matthewtamlin.sliding_intro_screen_manual_testing"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/appName"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<activity
			android:name="com.matthewtamlin.sliding_intro_screen_manual_testing.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name="com.matthewtamlin.sliding_intro_screen_manual_testing.EndActivity"/>
		<activity android:name="com.matthewtamlin.sliding_intro_screen_manual_testing.TestSinglePageBehaviour"/>
		<activity android:name="com.matthewtamlin.sliding_intro_screen_manual_testing.TestMultiplePageBehaviour"/>
		<activity android:name="com.matthewtamlin.sliding_intro_screen_manual_testing.TestButtonConfig"/>
		<activity android:name="com.matthewtamlin.sliding_intro_screen_manual_testing.TestTransformer"/>
		<activity android:name="com.matthewtamlin.sliding_intro_screen_manual_testing.TestPageLock"/>
		<activity android:name="com.matthewtamlin.sliding_intro_screen_manual_testing.TestHideStatusBar"/>
		<activity android:name="com.matthewtamlin.sliding_intro_screen_manual_testing.TestBehaviours"/>
		<activity android:name="com.matthewtamlin.sliding_intro_screen_manual_testing.TestDotIndicator"/>
		<activity android:name="com.matthewtamlin.sliding_intro_screen_manual_testing.TestSelectionIndicatorConfig"/>
	</application>
</manifest>